card-catalog-page {
  .wide-header__title.toolbar {
    padding-bottom: 10px;
    padding-top: 40px;
  }

  .wrapper {
    height: 100vh;
  }

  .category-header {
    padding: 10px 20px;
    padding-top: 15px;
    font-weight: 600;
    font-weight: 16px;

    &__name {
      color: #9BA3AE;
      flex-grow: 1;
    }

    &__button {
      color: #4F6EF7;
    }

    display: flex;
  }

  .category-item {
    display: flex;
    font-size: 16px;
    padding-left: 21px;

    ion-icon {
      margin-right: 18px;
    }

    .item-inner {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .settings-list {
    position: relative;
    z-index: 0;
    padding-bottom: 50px;

    ion-item-divider.item {
      border-bottom: 0;
      padding-bottom: 10px;
      border-bottom: 0.55px solid #f4f4f4;
    }
  }

  .discount {
    &-prefix {
      display: none;

      @media (min-width: 350px) {
        display: inline;
      }
    }

    &-suffix {
      display: inline;

      @media (min-width: 350px) {
        display: none;
      }
    }
  }

  ion-note.discount {
    background: #f2f2fa;
    border-radius: 20px;
    color: map-get($colors, primary);
    padding: 5px 12px;
  }
}