<ion-header class="wide-header" [ngClass]="{cordova: platformProvider.isCordova}">
  <ion-navbar>
    <ion-title>
      <div [reveal-at-scroll-pos]="expandableHeader.headerHeight" [scrollArea]="scrollArea">
        {{title}}
      </div>
    </ion-title>
    <ng-content select="[right]"></ng-content>
  </ion-navbar>
</ion-header>
<ion-content #scrollArea>
  <div class="wrapper">
    <expandable-header [scrollArea]="scrollArea" [fadeFactor]="5" [disableFade]="true" #expandableHeader>
      <ion-toolbar class="wide-header__title">
        <expandable-header-primary>
          {{title}}
        </expandable-header-primary>
      </ion-toolbar>
    </expandable-header>

    <search-bar *ngIf="!category || category === 'All'" [scrollArea]="wideHeaderPage?.scrollArea"
      (search)="onSearch($event.target.value)" placeholder="{{ 'Search for a brand' | translate }}"></search-bar>

    <div *ngIf="category && category !== 'All'" class="category-divider"></div>

    <div *ngIf="!category">
      <div *ngIf="!searchQuery">
        <div *ngFor="let curation of curations">
          <div class="category-header">
            <div class="category-header__name">{{curation.displayName}}</div>
          </div>
          <ion-slides *ngIf="curation.slides.length > 1" spaceBetween="-40" class="curation">
            <ion-slide *ngFor="let slide of curation.slides">
              <card-list-item *ngFor="let merchant of slide" (click)="buyCard(merchant)" [merchant]="merchant">
              </card-list-item>
            </ion-slide>
          </ion-slides>
          <div *ngIf="curation.slides.length === 1">
            <card-list-item *ngFor="let merchant of curation.slides[0]" (click)="buyCard(merchant)"
              [merchant]="merchant">
            </card-list-item>
          </div>
        </div>
        <div class="category-divider"></div>

        <div class="category-header">
          <div class="category-header__name">Categories</div>
          <div tappable class="category-header__button" (click)="viewCategory('All')">See All Brands</div>
        </div>
        <button *ngFor="let category of categories" ion-item class="category-item"
          (click)="viewCategory(category.displayName)">
          <ion-icon item-start>
            <img [src]="category.icon">
          </ion-icon>
          {{category.displayName}}
        </button>

        <br>
        <br>
        <br>
      </div>

    </div>

    <ion-list class="bp-list" [virtualScroll]="visibleMerchants" [approxItemHeight]="'87px'" [virtualTrackBy]="trackBy"
      [hidden]="searchQuery" *ngIf="category">

      <!-- <ion-item-divider *virtualHeader="let header">
        {{ header }}
      </ion-item-divider> -->

      <button ion-item class="card-list-item" *virtualItem="let merchant" (click)="buyCard(merchant)">
        <ion-icon item-start>
          <img-loader class="card-list-item__icon" [src]="merchant?.icon" [fallbackAsPlaceholder]="true"
            [fallbackUrl]="giftCardProvider.fallbackIcon"></img-loader>
        </ion-icon>
        <ion-label>

          <div *ngIf="cardConfigMap">
            <div class="card-list-item__label ellipsis">
              {{ merchant.displayName }}
            </div>
            <ion-note class="card-list-item__note ellipsis" *ngIf="!merchant.giftCards.length">
              {{ merchant.caption }}
            </ion-note>
            <ion-note class="card-list-item__note ellipsis"
              *ngIf="merchant.giftCards[0] && !merchant.giftCards[0].supportedAmounts">
              {{ merchant.giftCards[0].minAmount | formatCurrency: merchant.giftCards[0].currency:0 }} —
              {{ merchant.giftCards[0].maxAmount | formatCurrency: merchant.giftCards[0].currency:0 }}
            </ion-note>
            <ion-note class="card-list-item__note ellipsis"
              *ngIf="merchant.giftCards[0] && merchant.giftCards[0].supportedAmounts">
              <span *ngFor="
                    let amount of merchant.giftCards[0].supportedAmounts;
                    let last = last
                  ">
                {{ amount | formatCurrency: merchant.giftCards[0].currency:'minimal'
                }}<span *ngIf="!last">,</span>
              </span>
            </ion-note>
          </div>
        </ion-label>
        <!-- <ion-note item-end class="discount" *ngIf="hasVisibleDiscount(card)"><span class="discount-prefix">Save
          </span>
          <gift-card-discount-text [showConcisePercentage]="true" [cardConfig]="card" [discount]="card.discounts[0]">
          </gift-card-discount-text><span class="discount-suffix"> Off</span>
        </ion-note>
        <ion-note item-end class="discount" *ngIf="!hasVisibleDiscount(card) && hasPromotion(card)">
          Deal
        </ion-note> -->

      </button>

    </ion-list>

    <div *ngIf="searchQuery && visibleMerchants.length">
      <card-list-item *ngFor="let merchant of visibleMerchants" (click)="buyCard(merchant)" [merchant]="merchant">
      </card-list-item>
    </div>

    <div class="no-results" *ngIf="searchQuery && !visibleMerchants.length">
      <div>
        <div class="no-results__title">No Results</div>
        <div class="no-results__subtitle">Please try searching something else</div>
      </div>
    </div>


    <!-- <button ion-item class="card-list-item" *ngFor="let card of visibleCards" (click)="buyCard(card)">
      <ion-icon item-start>
        <img-loader class="card-list-item__icon" [src]="cardConfigMap[card.name]?.icon" [fallbackAsPlaceholder]="true"
          [fallbackUrl]="giftCardProvider.fallbackIcon"></img-loader>
      </ion-icon>
      <ion-label>

        <div *ngIf="cardConfigMap">
          <div class="card-list-item__label ellipsis">
            {{ cardConfigMap[card.name].displayName }}
          </div>
          <ion-note class="card-list-item__note ellipsis" *ngIf="!cardConfigMap[card.name].supportedAmounts">
            {{ cardConfigMap[card.name].minAmount | formatCurrency: cardConfigMap[card.name].currency:0 }} —
            {{ cardConfigMap[card.name].maxAmount | formatCurrency: cardConfigMap[card.name].currency:0 }}
          </ion-note>
          <ion-note class="card-list-item__note ellipsis" *ngIf="cardConfigMap[card.name].supportedAmounts">
            <span *ngFor="
                  let amount of cardConfigMap[card.name].supportedAmounts;
                  let last = last
                ">
              {{ amount | formatCurrency: cardConfigMap[card.name].currency:'minimal'
              }}<span *ngIf="!last">,</span>
            </span>
          </ion-note>
        </div>
      </ion-label>
      <ion-note item-end class="discount" *ngIf="hasVisibleDiscount(card)"><span class="discount-prefix">Save
        </span>
        <gift-card-discount-text [showConcisePercentage]="true" [cardConfig]="card" [discount]="card.discounts[0]">
        </gift-card-discount-text><span class="discount-suffix"> Off</span>
      </ion-note>
      <ion-note item-end class="discount" *ngIf="!hasVisibleDiscount(card) && hasPromotion(card)">
        Deal
      </ion-note>

    </button> -->














    <!-- 
      <ion-list class="bp-list" [virtualScroll]="allCards" [approxItemHeight]="'87px'" [virtualTrackBy]="trackBy"
      [headerFn]="getHeaderFn" [hidden]="searchQuery">

      <ion-item-divider *virtualHeader="let header">
        {{ header }}
      </ion-item-divider>

      <button ion-item class="card-list-item" *virtualItem="let card" (click)="buyCard(card)">
        <ion-icon item-start>
          <img-loader class="card-list-item__icon" [src]="cardConfigMap[card.name]?.icon" [fallbackAsPlaceholder]="true"
            [fallbackUrl]="giftCardProvider.fallbackIcon"></img-loader>
        </ion-icon>
        <ion-label>

          <div *ngIf="cardConfigMap">
            <div class="card-list-item__label ellipsis">
              {{ cardConfigMap[card.name].displayName }}
            </div>
            <ion-note class="card-list-item__note ellipsis" *ngIf="!cardConfigMap[card.name].supportedAmounts">
              {{ cardConfigMap[card.name].minAmount | formatCurrency: cardConfigMap[card.name].currency:0 }} —
              {{ cardConfigMap[card.name].maxAmount | formatCurrency: cardConfigMap[card.name].currency:0 }}
            </ion-note>
            <ion-note class="card-list-item__note ellipsis" *ngIf="cardConfigMap[card.name].supportedAmounts">
              <span *ngFor="
                    let amount of cardConfigMap[card.name].supportedAmounts;
                    let last = last
                  ">
                {{ amount | formatCurrency: cardConfigMap[card.name].currency:'minimal'
                }}<span *ngIf="!last">,</span>
              </span>
            </ion-note>
          </div>
        </ion-label>
        <ion-note item-end class="discount" *ngIf="hasVisibleDiscount(card)"><span class="discount-prefix">Save
          </span>
          <gift-card-discount-text [showConcisePercentage]="true" [cardConfig]="card" [discount]="card.discounts[0]">
          </gift-card-discount-text><span class="discount-suffix"> Off</span>
        </ion-note>
        <ion-note item-end class="discount" *ngIf="!hasVisibleDiscount(card) && hasPromotion(card)">
          Deal
        </ion-note>

      </button>

    </ion-list>

    <ion-list class="bp-list" [virtualScroll]="visibleCards" [approxItemHeight]="'87px'" [virtualTrackBy]="trackBy">

      <button ion-item class="card-list-item" *virtualItem="let card" (click)="buyCard(card)">
        <ion-icon item-start>
          <img-loader class="card-list-item__icon" [src]="cardConfigMap[card.name]?.icon" [fallbackAsPlaceholder]="true"
            [fallbackUrl]="giftCardProvider.fallbackIcon"></img-loader>
        </ion-icon>
        <ion-label>

          <div *ngIf="cardConfigMap">
            <div class="card-list-item__label ellipsis">
              {{ cardConfigMap[card.name].displayName }}
            </div>
            <ion-note class="card-list-item__note ellipsis" *ngIf="!cardConfigMap[card.name].supportedAmounts">
              {{ cardConfigMap[card.name].minAmount | formatCurrency: cardConfigMap[card.name].currency:0 }} —
              {{ cardConfigMap[card.name].maxAmount | formatCurrency: cardConfigMap[card.name].currency:0 }}
            </ion-note>
            <ion-note class="card-list-item__note ellipsis" *ngIf="cardConfigMap[card.name].supportedAmounts">
              <span *ngFor="
                    let amount of cardConfigMap[card.name].supportedAmounts;
                    let last = last
                  ">
                {{ amount | formatCurrency: cardConfigMap[card.name].currency:'minimal'
                }}<span *ngIf="!last">,</span>
              </span>
            </ion-note>
          </div>
        </ion-label>
        <ion-note item-end class="discount" *ngIf="hasVisibleDiscount(card)"><span class="discount-prefix">Save
          </span>
          <gift-card-discount-text [showConcisePercentage]="true" [cardConfig]="card" [discount]="card.discounts[0]">
          </gift-card-discount-text><span class="discount-suffix"> Off</span>
        </ion-note>
        <ion-note item-end class="discount" *ngIf="!hasVisibleDiscount(card) && hasPromotion(card)">
          Deal
        </ion-note>
      </button>

    </ion-list> -->

  </div>
</ion-content>