<ion-header>
  <ion-navbar>
    <!-- <ion-buttons *ngIf="wallet && !requestingAmount" left>
        <button class="modal-close-button" (click)="close()" ion-button>
          <ion-icon ios="md-close" md="md-close"></ion-icon>
        </button>
      </ion-buttons> -->
    <!-- <ion-title>{{wallet && wallet.name || ('Amount' | translate)}}</ion-title> -->
  </ion-navbar>
</ion-header>

<ion-content>


  <div class="wrapper">
    <div class="header-extend">
      <!-- <div *ngIf="!wallets || !wallets[0]" class="no-wallets">
        <button ion-button clear (click)="goToAddView()">
          <span translate>Create a new wallet</span>
        </button>
      </div> -->
    </div>
  </div>

</ion-content>