$gift-card-page-background-color: white;
$gift-card-page-padding: 30px;
$gift-card-content-max-width: 315px;

.gift-card-content {
  .scroll-content {
    > div.wrapper {
      background-color: $gift-card-page-background-color;

      .content {
        padding: 0 $gift-card-page-padding;
        position: relative;
        text-align: center;
        z-index: 1;
      }
    }
  }

  .actions {
    max-width: $gift-card-content-max-width;
    margin-left: auto;
    margin-right: auto;

    button {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      max-width: $gift-card-content-max-width;
    }
  }
}
