page-add {
  ion-list {
    padding-left: 3px;
  }

  .list-button {
    padding-top: 10px;
    padding-bottom: 10px;

    .item-title {
      color: black;
      font-size: 18px;
      font-weight: 500;
    }

    .item-subtitle {
      color: black;
      font-size: 16px;
    }

    img {
      $icon-dimension: 40px;
      height: $icon-dimension;
      width: $icon-dimension;
    }
  }
}