<wide-header-page title="Amazon Gift Cards">
  <ion-buttons right>
    <button clear class="modal-close-button bar-button bar-button-{{platformName}} bar-button-default bar-button-default-{{platformName}}"
      (click)="settings()" ion-button>
      <ion-icon ios="md-add" md="md-add" color="blank"></ion-icon>
    </button>
  </ion-buttons>
  <div page-content>
    <ion-list class="settings-list">
      <ion-item-divider>Current Cards</ion-item-divider>
      <card-list-item *ngFor="let card of currentGiftCards" [card]="card"></card-list-item>
      <ion-item-divider *ngIf="archivedGiftCards && archivedGiftCards.length">Archived Cards</ion-item-divider>
      <card-list-item *ngFor="let card of archivedGiftCards" [card]="card"></card-list-item>
    </ion-list>
  </div>
</wide-header-page>