wallet-item {
  .primary-text {
    color: black;
    font-size: 16px;
    margin-bottom: 4px;
  }

  .wallet-name {
    margin-bottom: 2px;
  }

  .secondary-text {
    color: #AAAEB6;
    font-size: 14px;
  }

  .item-inner {
    text-align: right;
  }

  .action {

    &.button.button-default {
      padding: 0;
    }

    &--receive {
      background-color: #edf7f9;

      &.activated {
        background-color: #e8f4f7;
      }
    }

    &--send {
      background-color: #eff1fe;

      &.activated {
        background-color: #e9ebf9;
      }
    }

    &__icon {
      img {
        height: 35px;
      }
    }

    &__text {
      color: #434d59;
      font-size: 14px;
      font-weight: 500;
      margin-top: 3px;
    }

  }

}