buy-card-page {
  $background-color: white;
  @include fix-ios-bg-scroll($background-color);
  .card-image {
    height: 200px;
    margin-top: 15px;
  }
}

.gift-card-content {
  .scroll-content {
    > div.wrapper {
      background-color: $background-color;

      .content {
        padding: 0 30px;
        position: relative;
        z-index: 1;
        text-align: center;
      }
    }
  }
}
