merchant-page {

  .wrapper,
  .content {
    height: 100%;

  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .cover {
    height: 69px;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #F7F8FD 97%);

    img {
      transform: translateY(32px) translateX(20px);
      height: 72px;
      width: 72px;
    }
  }

  .body {
    flex-grow: 1;
    padding: 20px;
    padding-top: 50px;

    >* {
      margin: 20px 0;
    }

    .section-divider {
      width: 100%;
      margin: 25px auto;
    }

    &__title {
      font-size: 25px;
      color: #000000;
      font-weight: 600;
    }

    &__subtitle {
      font-size: 18px;
      color: #000000;
      font-weight: 500;
    }

    &__caption,
    &__instructions {
      font-size: 16px;
      color: #565D6D;
    }
  }

  .footer {
    margin-bottom: 30px;

    button {
      .button-inner {
        display: flex;

        img {
          margin-right: 12px;
        }

        >span {
          line-height: 1.2;
          transform: translateY(1px);
        }
      }
    }
  }
}