page-select-currency {
  ion-list {
    padding-left: 3px;
  }

  .list-button {
    padding-top: 10px;
    padding-bottom: 10px;

    ion-icon {
      img {
        height: 40px;
      }
    }

    .item-title {
      color: black;
      font-size: 18px;
      font-weight: 500;
    }
  }
}